.__progress {
  height: 4px;
  background: white;
  box-sizing: border-box;
  display: inline-block;
  display: flex;
}
.__progress .cate {
  display: inline-block;
  position: relative;
  height: 4px;
  width: 0px;
  transition: left 0.1s;
}

.__progress .cate:after {
  content: "";
  position: absolute;
  right: 0;
  top: -3px;
  height: 10px;
  width: 2px;
  background: gray;
}

.__progress:hover {
  cursor: text;
}